body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    overflow-x: hidden; /* Evitar desplazamiento horizontal */
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
    background-color: #FB88B4;
}

/* Estilos comunes para header en todas las pantallas */
header {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #FB88B4, #18adb8);
    color: #fff;
    font-size: xx-large;
}

header img {
    width: 300px; /* Ajustar tamaño según necesidades */
    height: 300px;
    margin-right: 20px;
    border-radius: 50px;
}

header h1 {
    margin-top: 125px;
}

/* Media query para dispositivos móviles */
@media screen and (max-width: 600px) {
    header {
        font-size: large; /* Reducir tamaño de fuente */
    }

    header img {
        width: 200px; /* Reducir tamaño de imagen */
        height: 200px;
        margin-right: 10px;
    }

    header h1 {
        margin-top: 50px; /* Reducir margen superior */
    }

    /* Otros estilos para elementos específicos en móviles */
    .sect1 img {
        height: 300px; /* Reducir tamaño de imagen en sección 1 */
    }

    .sect1 p {
        width: auto; /* Ajustar ancho del texto en sección 1 */
    }

    .grid-layout {
        margin-left: 10px; /* Ajustar margen izquierdo en cuadrícula */
        margin-right: 10px; /* Ajustar margen derecho en cuadrícula */
    }

    /* Ajuste para la sección de la carta */
    .card-container {
        max-width: 100%; /* Ajustar el ancho máximo para evitar desbordamiento */
        overflow-x: hidden; /* Ocultar el desplazamiento horizontal */
    }

    .card {
        width: 90%; /* Reducir ancho para ajustarse al ancho de la pantalla */
        max-width: 400px; /* Ancho máximo para evitar que sea demasiado grande */
        height: auto; /* Permitir que la altura se ajuste automáticamente */
    }

    /* Ajuste para el pie de página en dispositivos móviles */
    footer {
        width: 100vw; /* Ancho igual al ancho de la ventana */
        max-width: 100vw;
    }
}

/*seccion 1*/
.sect1{
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    overflow: hidden;
}

.sect1 img{
    border:10px solid #000000;
    border-radius: 50px;
    width: 100%;
    height: 600px;
    object-fit: cover;
    object-position: top;
}

.sect1 section{
    display: flex;
    flex-wrap: wrap;
}

.sect1 div{
    background-color: #fff;
    margin-top: 50px;
}

.sect1 h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sect1 p{
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    width: auto 600px;
}

section{
    width: 70%;
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 100px;
}

/*navegador*/
nav {
    background-color: #18adb8;
    color: #fff;
    display: flex;
    justify-content: space-around;
    padding: 0 20%;
    
}
nav a {
    float: left;
    display: flex;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s;
}
nav a:hover {
    background-color: #F9F07A;
}

.inside{
    border-bottom: 4px solid #ffffff;
}

/*cuadricula*/
.grid-layout{
    display: grid;
    gap: 1rem;    
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 15rem), 1fr));
    grid-auto-flow: 22rem;
    align-items: center;
    margin-bottom: 100px;
    margin-left: 70px;
    margin-right: 70px;
}

.grid-layout img {
    width: 100%;
    height: 70%;
    max-width: 100%;
    margin-top: 0%;
    margin-bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.233);    
}

.grid-layout h3 {
    margin-top: 20px;    
    text-align: center;    
    font-size: 30px;
    color: rgb(255, 255, 255);        
}

.grid-layout a{
    text-decoration: none;
}

.caja {
    background-color: #18adb8;    
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
    text-align: center; 
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.caja:hover{
    transform: scale(1.1);
}

/*tienda*/
.grid-tienda{
    display: grid;
    background-color: #F9F07A;
    display: grid;
    gap: 2rem;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 15fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.grid-tienda img {
    width: 100%;
    height: 50%;
    max-width: 100%;
    margin-top: 0%;
    margin-bottom: 0;
    border-bottom: 5px solid rgba(0, 0, 0, 0.233);    
}

.grid-tienda h3 {
    margin-top: 20px;    
    text-align: center;    
    font-size: 30px;
    color: rgb(255, 255, 255);        
}

.caja2 {
    place-self: center;
    border: 4px solid black;
    width: 250px;
    height: 500px;
    background-color: #222222;    
    box-shadow: 5px 5px 10px;
    text-align: center; 
    cursor: pointer;
    transition: all 0.3s;
    margin-top: 50px;
    margin-bottom: 100px;
}

.caja2:hover{
    transform: scale(1.1);
}

.grid-tienda button{
    margin-top: auto;
    width: 100%;
    height: 70px;
    border: none;
}

/*historia*/
.histo{
    margin-top: 100px;
    margin-left: 2%;
    margin-right: 2%;
    justify-content: space-around;
    background-color: #edeeed;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    box-shadow: 5px 5px 10px;
}

.histo h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.histo p {
    margin-left: 2%;
    margin-right: 2%;
    text-align: justify;
    width: auto 600px;
}

/*carta*/
.card-container {
    display: grid;
    background-color: #F9F07A;
    display: grid;
    gap: 2rem;    
    grid-template-columns: repeat(auto-fit, minmax(250px, 15fr));
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 450px;
    height: 750px;
    background-image: linear-gradient(to right, #FB88B4, #18adb8);
    border: 5px solid #F9F07A;
    border-radius: 10px;
    box-shadow: 5px 5px 10px;
    position: relative;
}

.card-image {
    display: flex;
    justify-content: center;
    height: 60%;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-image img {
    margin-top: 10%;
    width: 80%;
    height: 80%;
    object-fit: cover;
    border:5px solid #F9F07A;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-details {
    height: 220px;
    background-color: #444444;
    border-bottom:5px solid #F9F07A;
    border-top:5px solid #F9F07A;
    padding: 20px;
}

.card h2 {
    margin-top: 0;
    font-size: 20px;
    color: #ffffff;
}

.stats {
    color: #ffffff;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.stats li {
    margin-bottom: 10px;
}

.stats li strong {
    display: inline-block;
    width: 120px;
}


/*iceberg*/
.ice{
    display: grid;
    place-content: center;
    margin-top: 100px;
}

.ice-container {
    width: 85%; /* Ancho máximo del contenedor */
    max-width: 800px; /* Ancho máximo deseado para el video */
    margin: 0 auto; /* Centrar el contenedor en la página */
    overflow: hidden; /* Ocultar contenido que exceda el ancho del contenedor */
}

.ice iframe {
    max-width: 100%; /* Asegura que el video no supere el ancho del contenedor */
     /* Permite que la altura se ajuste automáticamente */
}

/*scroll*/
body::-webkit-scrollbar{
    width: 7px;
}

body::-webkit-scrollbar-thumb{
    background-color: #000000;
}

/*pie de pagina*/
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    bottom: 0;
    width: 100%; /* Ancho igual al ancho de su contenedor */
    margin-top: auto;
    position: absolute;
    left: 0;
    max-width: 100%;
}
