<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="/img/Adri Crush.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>ADRI CRUSH</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 85</li>
                    <li><strong>Agilidad:</strong> 95</li>
                    <li><strong>Dribling:</strong> 90</li>
                    <li><strong>Tiro:</strong> 80</li>
                    <li><strong>Defensa:</strong> 90</li>
                    <li><strong>Liderazgo:</strong> 85</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Adri Crush: Fuerza, coraje y pasión.</h2>

            <p>En las calles tumultuosas de Phoskito, donde el baloncesto se convierte en una danza de destreza y pasión, surge la figura inigualable de Adri Crush, una leyenda viva entre los muros de concreto y las luces de neón.</p>

        <p>Desde temprana edad, Adri demostró un talento innato para el baloncesto. Su agilidad, rapidez y habilidad para leer el juego destacaron desde que era apenas una niña jugando en las canchas callejeras de su barrio. Pero más allá de sus habilidades físicas, lo que la hacía verdaderamente especial era su corazón indomable y su determinación inquebrantable.</p>
            
        <p>Adri provenía de una familia humilde en Phoskito, donde cada día era una lucha por sobrevivir entre la dura realidad de la vida urbana. Sin embargo, el baloncesto se convirtió en su refugio, en el lugar donde podía ser libre, donde podía expresarse y desafiar todas las expectativas impuestas por su entorno.</p>
            
        <p>Con el tiempo, su nombre resonó en cada rincón de Phoskito como una fuerza imparable en la cancha. Su apodo, "Crush", era un reflejo de su estilo de juego agresivo y determinado. No se conformaba con ser buena, buscaba la grandeza en cada movimiento, en cada jugada, dejando a sus oponentes atónitos y a sus seguidores inspirados.</p>
            
        <p>Pero detrás de la fachada de la jugadora implacable se escondía una historia de lucha y superación. Adri había enfrentado numerosos desafíos en su camino hacia la cima: la falta de recursos, las críticas de aquellos que dudaban de su talento y las lesiones que amenazaban con detener su ascenso. Sin embargo, cada obstáculo se convirtió en una oportunidad para demostrar su fuerza interior y su determinación inquebrantable.</p>
            
        <p>Adri no solo brillaba en la cancha, sino que también era un faro de esperanza y inspiración para los jóvenes de su comunidad. Organizaba clínicas de baloncesto para niños y niñas, les enseñaba no solo habilidades deportivas, sino también valores como el trabajo en equipo, la perseverancia y el respeto.</p>
            
        <p>Su legado trascendió las canchas de baloncesto. Adri Crush se convirtió en un símbolo de fuerza, coraje y pasión en Phoskito, recordándole a todos que los sueños no conocen límites y que con determinación y trabajo duro, se puede alcanzar cualquier meta, por más imposible que parezca.</p>
            
        <p>Y así, el nombre de Adri Crush quedó grabado en la historia de Phoskito como una leyenda viviente, una inspiración para las generaciones venideras y un recordatorio de que en cada corazón humilde puede latir el fuego de la grandeza.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>