<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="../img/Ciscorro.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>CISCORRO EL POTORRO</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 99</li>
                    <li><strong>Agilidad:</strong> 70</li>
                    <li><strong>Dribling:</strong> 80</li>
                    <li><strong>Tiro:</strong> 75</li>
                    <li><strong>Defensa:</strong> 90</li>
                    <li><strong>Liderazgo:</strong> El que?</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Ciscorro: El mito.</h2>

            <p>En las calles bulliciosas de Phoskito, donde el baloncesto es más que un juego y se convierte en un arte de resistencia y pasión, emerge la figura imponente de Ciscorro "el Potorro", una leyenda entre los gigantes de la pintura.</p>

        <p>Desde temprana edad, Ciscorro destacó por su imponente presencia física. Su estatura imponente y su fortaleza natural lo distinguían en las canchas callejeras, donde rápidamente se ganó el respeto de sus compañeros y rivales por igual. Pero más allá de su físico imponente, lo que realmente definía a Ciscorro era su determinación inquebrantable y su corazón de guerrero.</p>
            
        <p>Creció en un entorno difícil en Phoskito, donde la vida no ofrecía segundas oportunidades. Sin embargo, Ciscorro encontró en el baloncesto una vía de escape, un camino hacia algo más grande que él mismo. Desde que agarró por primera vez un balón, supo que su destino estaba ligado al deporte que amaba con pasión desbordante.</p>
            
        <p>Con el paso del tiempo, su nombre resonó como un trueno en las calles de Phoskito. "El Potorro" se convirtió en un símbolo de poder en la pintura, intimidando a sus oponentes con su dominio en los rebotes, sus bloqueos impenetrables y su habilidad para anotar puntos cruciales en momentos decisivos.</p>
            
        <p>Pero más allá de su desempeño en la cancha, Ciscorro era admirado por su humildad y su dedicación fuera de ella. Organizaba clínicas de baloncesto para jóvenes de bajos recursos, compartiendo su amor por el juego y transmitiendo valores como el trabajo en equipo y la perseverancia.</p>
            
        <p>Su camino hacia la grandeza no estuvo exento de desafíos. Lesiones, adversidades y momentos de duda pusieron a prueba su determinación, pero Ciscorro siempre se levantaba más fuerte, con la mirada fija en sus sueños y el corazón lleno de pasión por el juego.</p>
            
        <p>Con el tiempo, su legado trascendió las canchas de Phoskito. "El Potorro" se convirtió en una inspiración para los jóvenes que soñaban con alcanzar las alturas, recordándoles que con trabajo duro, determinación y corazón, cualquier obstáculo se puede superar.</p>
            
        <p>Y así, la historia de Ciscorro "el Potorro" se convirtió en un mito en las calles de Phoskito, una historia de perseverancia, pasión y triunfo que perduraría en el tiempo como un legado de grandeza y humanidad.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>