<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Historia Kill-Bala</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="../img/Gorkisio.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>KILL-BALA</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 95</li>
                    <li><strong>Cubata:</strong> 99</li>
                    <li><strong>Dribling:</strong> 85</li>
                    <li><strong>Tiro:</strong> 75</li>
                    <li><strong>Defensa:</strong> 90</li>
                    <li><strong>Cayetanísmo:</strong> 99</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Kill-Bala: Forjando leyendas en las calles de Phoskito.</h2>

            <p>En las profundidades de Phoskito Street, donde las sombras se retuercen como serpientes y el rugido de la ciudad nunca cesa, se          encuentra el legendario líder de los Phoskito Street: Gorkisio, conocido en las calles como Kill-Bala.</p>

        <p>Desde joven, Gorkisio había aprendido a sobrevivir en un entorno donde la ley del más fuerte dominaba. Criado en las calles ásperas y despiadadas de Phoskito, no tuvo otra opción que endurecerse desde temprana edad. Sin embargo, en medio de la adversidad, descubrió su pasión por el baloncesto, un escape que lo llevó a encontrar su verdadera vocación.</p>
            
        <p>Con un físico imponente y una determinación inquebrantable, Gorkisio se convirtió rápidamente en una fuerza imparable en las canchas de Phoskito. Su habilidad para dominar el balón y su instinto asesino para el juego le valieron el apodo de Kill-Bala, un nombre que infundía temor en los corazones de sus rivales.</p>
            
        <p>Pero detrás de esa fachada de ferocidad se escondía un alma atormentada por el pasado. Gorkisio había visto demasiado en las calles de Phoskito, había perdido amigos y seres queridos en la brutalidad del mundo urbano. Sin embargo, en el baloncesto encontró una forma de redención, una oportunidad para canalizar su dolor en algo positivo.</p>
            
        <p>A medida que los Phoskito Street comenzaron a destacarse en las ligas callejeras, Gorkisio emergió como el líder natural del equipo. Su presencia imponente en la cancha inspiraba a sus compañeros a dar lo mejor de sí mismos, mientras que su ética de trabajo implacable los impulsaba a alcanzar nuevas alturas.</p>
            
        <p>Pero el camino hacia la grandeza no estuvo exento de desafíos. Los Phoskito Street se enfrentaron a rivales más grandes, más rápidos y más organizados, y en cada partido, Gorkisio y su equipo tuvieron que luchar con uñas y dientes para mantenerse en la cima.</p>
            
        <p>Sin embargo, a pesar de las adversidades, Gorkisio nunca perdió de vista su objetivo. Sabía que el baloncesto no solo era un juego, sino una oportunidad para cambiar su destino y el de aquellos que lo rodeaban. Con cada victoria, con cada derrota, se aferraba a la esperanza de un futuro mejor, no solo para él, sino para toda su comunidad en Phoskito.</p>
            
        <p>La historia de Gorkisio, el legendario Kill-Bala, es un recordatorio de que incluso en las circunstancias más difíciles, el poder del espíritu humano puede superar cualquier obstáculo. En las calles de Phoskito, su nombre resonará por siempre como un símbolo de valentía, determinación y redención.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>