<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <!--navegador-->
    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>

    <!--cuadricula-->
    <div class="grid-layout">
        <div class="caja">
            <a href="../views/Adri.html">
                <img src="../img/Adri Crush.jpg" alt="Adri Crush" width="768" height="576">
            <h3>Adri Crush</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="../views/Ciscorro.html">
                <img src="../img/Ciscorro.jpg" alt="Ciscorro" width="1000" height="900">
            <h3>Ciscorro</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="Gorkisio.html">
                <img src="../img/Gorkisio.jpg" alt="Gorkisio" width="1920" height="1920">
                <h3>Kill-Bala</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="Juakinsito.html">
                <img src="../img/Juakinsito.jpg" alt="Juakinsito" width="980" height="980">
            <h3>Juakinsito</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="Kika.html">
                <img src="../img/Kike.jpg" alt="Kike" width="2109" height="2271">
            <h3>La Kika</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="Miguelito.html">
                <img src="../img/Miguelito.jpg" alt="Miguelito" width="1069" height="980">
            <h3>Miguelito</h3>
            </a>
            
            
        </div>
        <div class="caja">
            <a href="Sergio.html">
                <img src="../img/Sergio Sexy.jpg" alt="Sergio Sexy" width="284" height="300">
            <h3>Sergio Sexy</h3>
            </a>
            
            
        </div>
        
    </div>

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>