<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="/img/Juakinsito.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>JUAKINSITO EL CARIÑOSO</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 80</li>
                    <li><strong>Agilidad:</strong> 75</li>
                    <li><strong>Dribling:</strong> 90</li>
                    <li><strong>Tiro:</strong> 75</li>
                    <li><strong>Defensa:</strong> 90</li>
                    <li><strong>Liderazgo:</strong> 99</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Juakinsito el Cariñoso: Un faro de bondad y dedicación.</h2>

            <p>En las callejuelas vibrantes y coloridas de Phoskito, donde el baloncesto era más que un deporte y se convertía en un símbolo de unidad y pasión, destacaba la figura entrañable de Juakinsito "el Cariñoso", un jugador cuyo corazón era tan grande como su talento en la cancha.</p>

        <p>Desde su infancia, Juakinsito irradiaba una energía contagiosa que tocaba los corazones de todos a su alrededor. Su sonrisa cálida y su naturaleza amable lo convirtieron en un favorito en su comunidad, ganándose el aprecio de amigos, vecinos y compañeros de equipo por igual. Pero más allá de su personalidad encantadora, Juakinsito también demostró ser un jugador de baloncesto excepcional desde una edad temprana.</p>
            
        <p>Aunque no poseía la estatura imponente de algunos de sus compañeros, Juakinsito compensaba con una habilidad técnica excepcional y una visión de juego única. Su capacidad para pasar el balón con precisión milimétrica, su manejo habilidoso y su habilidad para leer las jugadas lo convirtieron en el motor de su equipo, tejiendo conexiones invisibles entre cada uno de sus compañeros en la cancha.</p>
            
        <p>Pero lo que realmente distinguía a Juakinsito era su espíritu de equipo y su liderazgo silencioso. Siempre dispuesto a levantar el ánimo de sus compañeros con palabras de aliento, abrazos reconfortantes y un optimismo inquebrantable, Juakinsito demostró que el verdadero éxito no solo se medía en puntos y estadísticas, sino en la capacidad de inspirar y unir a un equipo.</p>
            
        <p>Fuera de la cancha, Juakinsito era conocido por su labor altruista en la comunidad. Organizaba eventos benéficos, visitaba escuelas locales para motivar a los jóvenes y siempre estaba dispuesto a tender una mano a quienes lo necesitaban. Su bondad y generosidad se convirtieron en su legado más duradero, dejando una huella indeleble en el corazón de Phoskito.</p>
            
        <p>Aunque su nombre no aparecía en titulares ni su rostro en vallas publicitarias, Juakinsito "el Cariñoso" era una leyenda en su propia medida, un recordatorio de que en el mundo del baloncesto, como en la vida misma, el amor, la camaradería y el compromiso son tan importantes como cualquier victoria en la cancha.</p>
            
        <p>Y así, la historia de Juakinsito "el Cariñoso" perduró en la memoria de Phoskito como un faro de bondad y dedicación, inspirando a todos a seguir sus pasos no solo como jugadores de baloncesto, sino como seres humanos ejemplares en busca de hacer del mundo un lugar mejor.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>