<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Historia La Kika</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="../img/Kike.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>LA KIKA</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 00</li>
                    <li><strong>Agilidad:</strong> 90</li>
                    <li><strong>Fade:</strong> 99</li>
                    <li><strong>Tiro:</strong> 90</li>
                    <li><strong>Defensa:</strong> 75</li>
                    <li><strong>Liderazgo:</strong> 80</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>La Kika: Elegancia y habilidad</h2>

            <p>En el vibrante y ecléctico escenario de Phoskito Street, donde las historias se tejen entre el asfalto y los aires de competencia, se encuentra la figura única de Kike "el Peluquero Metrosexual", un personaje cuya destreza va más allá de la cancha de baloncesto y se entrelaza con el arte de la estética y el estilo.</p>

        <p>Kike no siempre fue conocido por su habilidad en el baloncesto, sino por su talento excepcional como estilista y peluquero. Desde joven, mostró un don innato para transformar cabellos y crear tendencias audaces que destacaban en las calles de Phoskito. Su salón de belleza se convirtió en un punto de encuentro para la comunidad, donde no solo se buscaba un cambio de imagen, sino también un lugar de conversación y camaradería.</p>
            
        <p>Pero la vida de Kike dio un giro inesperado cuando su pasión por el baloncesto se volvió igual de fuerte que su amor por las tijeras y los peines. Comenzó a participar en partidos callejeros, donde su habilidad para manejar el balón y su astucia estratégica sorprendieron a propios y extraños. Fue entonces cuando nació el apodo de "el Peluquero Metrosexual", una fusión única de su talento en el baloncesto y su estilo impecable en el mundo de la belleza.</p>
            
        <p>Aunque no destacaba por su físico imponente o su velocidad deslumbrante, Kike compensaba con una visión de juego brillante y una habilidad para anticipar movimientos que dejaba perplejos a sus rivales. Su capacidad para encontrar los espacios abiertos, distribuir el balón con precisión quirúrgica y leer las estrategias del equipo contrario lo convirtieron en un activo invaluable para cualquier equipo que tuviera el placer de contar con él.</p>
            
        <p>Pero lo que realmente definía a Kike era su capacidad para unir a las personas a través del deporte y la estética. Organizaba eventos benéficos donde ofrecía cortes de cabello gratuitos para niños de la comunidad, mezclando su pasión por el baloncesto con su deseo de hacer una diferencia positiva en la vida de los demás.</p>
            
        <p>Con el tiempo, el nombre de Kike "el Peluquero Metrosexual" se convirtió en sinónimo de estilo, elegancia y habilidad en la cancha. Su historia inspiró a muchos a perseguir sus pasiones sin miedo a romper los moldes establecidos y a encontrar la belleza y el talento en cada aspecto de la vida, ya sea en un juego de baloncesto o en un salón de belleza en las calles vibrantes de Phoskito.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>