<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="../img/Miguelito.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>MIGUELITO EL SIN CARA</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 80</li>
                    <li><strong>Agilidad:</strong> 90</li>
                    <li><strong>Apuesta:</strong> 99</li>
                    <li><strong>Tiro:</strong> 95</li>
                    <li><strong>Defensa:</strong> 70</li>
                    <li><strong>Cara:</strong> 00</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Miguelito el Sin Cara: Misterio y benevolencia</h2>

            <p>En los callejones sombríos y misteriosos de Phoskito Street, donde los grafitis cuentan historias antiguas y los secretos se esconden entre las sombras, existe una figura enigmática que ha intrigado a la comunidad durante años: Miguelito "el Sin Cara".</p>

        <p>Desde su juventud, Miguelito era una presencia constante en las calles de Phoskito, siempre observando desde las sombras, siempre presente pero nunca revelando su verdadera identidad. Su apodo, "el Sin Cara", surgió de su costumbre de ocultar su rostro tras una máscara o un pañuelo, manteniendo su apariencia en un misterio perpetuo que alimentaba la curiosidad y el rumor entre los habitantes del barrio.</p>
            
        <p>Aunque su presencia en los partidos de baloncesto callejeros era escasa y discreta, cuando Miguelito decidía participar, su habilidad para el juego era extraordinaria. Con movimientos rápidos y precisos, dominaba la cancha con una destreza que dejaba boquiabiertos a sus oponentes. Su capacidad para anticipar jugadas y su tiro certero desde cualquier ángulo lo convertían en un jugador temido y respetado a pesar de su discreción.</p>
            
        <p>Pero más allá de sus habilidades en el baloncesto, Miguelito era conocido por su generosidad y su ayuda silenciosa a aquellos que lo necesitaban. Se dedicaba a obras benéficas en el barrio, apoyaba a los jóvenes talentosos que buscaban oportunidades en el deporte y siempre estaba dispuesto a escuchar y aconsejar a quienes acudían a él en busca de orientación.</p>
            
        <p>El aura de misterio que rodeaba a Miguelito solo aumentaba con el tiempo. Se tejían historias y leyendas sobre su origen y su pasado, alimentando la fascinación y el respeto por este enigmático personaje de Phoskito Street. Algunos decían que había sido un jugador profesional en el pasado, mientras que otros afirmaban que guardaba un secreto que lo había llevado a buscar refugio en las sombras.</p>
            
        <p>Lo único que todos coincidían era en su impacto positivo en la comunidad. Aunque su rostro permanecía oculto, su corazón generoso y su habilidad para inspirar a otros trascendían las barreras del anonimato. Miguelito "el Sin Cara" se convirtió en un símbolo de fuerza, misterio y benevolencia en Phoskito, recordándoles a todos que la verdadera grandeza no siempre necesita ser vista para ser sentida y que los héroes pueden encontrarse en las formas más inesperadas.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>