<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Document</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <div class="inside"><a href="historia.html">Historia</a></div>
        <a href="tienda.html">Tienda</a>
        <a href="iceberg.html">Iceberg</a>
    </nav>


    <!--carta-->
    <div class="card-container">
        <div class="card">
            <div class="card-image">
                <img src="/img/Sergio Sexy.jpg" alt="Imagen del jugador">
            </div>
            <div class="card-details">
                <h2>SERGIO SEXY</h2>
                <ul class="stats">
                    <li><strong>Fuerza:</strong> 95</li>
                    <li><strong>Agilidad:</strong> 00</li>
                    <li><strong>Colesterol:</strong> 99</li>
                    <li><strong>Tiro:</strong> 90</li>
                    <li><strong>Defensa:</strong> 85</li>
                    <li><strong>Sex Appeal:</strong> 99</li>
                </ul>
            </div>
        </div>

         <!--historia-->
    <section class="histo">
        <div>
            <h2>Sergio Sexy: Pasión, carisma y determinación</h2>

            <p>En las bulliciosas calles de Phoskito Street, donde el baloncesto se convierte en un arte y la competencia es el latido del barrio, destaca una figura única y cautivadora: Sergio Sexy.</p>

        <p>Desde joven, Sergio destacó no solo por su habilidad excepcional en la cancha, sino también por su estilo y carisma innatos que capturaban la atención de todos a su alrededor. Conocido cariñosamente como Sergio Sexy, su presencia en el baloncesto callejero de Phoskito era como un espectáculo que todos esperaban con ansias.</p>
            
        <p>Desde sus primeros días jugando en las calles polvorientas del barrio, Sergio demostró un talento especial para el manejo del balón. Sus regates suaves como el viento y sus tiros elegantes le valieron el apodo de "Sexy", una combinación de su estilo de juego y su encanto natural que irradiaba fuera de la cancha.</p>
            
        <p>Pero más allá de sus habilidades atléticas, Sergio era un maestro en la táctica y la estrategia del juego. Sus pases precisos y su visión de juego avanzada hicieron que sus compañeros confiaran en él como líder en la cancha. Siempre encontraba la manera de sorprender a los oponentes con movimientos creativos y jugadas magistrales que dejaban a todos boquiabiertos.</p>
            
        <p>Fuera de la cancha, Sergio era conocido por su personalidad carismática y su capacidad para unir a la comunidad a través del baloncesto. Organizaba eventos benéficos, clínicas de baloncesto para niños y actividades para promover la unidad y la diversión entre los habitantes de Phoskito. Su energía positiva y su compromiso con su comunidad lo convirtieron en un verdadero ícono local.</p>
            
        <p>Pero la historia de Sergio Sexy no estuvo exenta de desafíos. Enfrentó lesiones, momentos de duda y competencia feroz en las canchas, pero su determinación y pasión por el juego nunca flaquearon. Cada obstáculo se convirtió en una oportunidad para demostrar su fortaleza y habilidades únicas que lo distinguían como un jugador excepcional.</p>

        <p>Con el tiempo, el nombre de Sergio Sexy resonó más allá de las calles de Phoskito. Se convirtió en un referente del baloncesto callejero, un modelo a seguir para los jóvenes que buscaban destacar no solo por su habilidad, sino también por su estilo y carisma en el juego.</p>

        <p>La historia de Sergio Sexy es más que un relato de habilidades atléticas; es una narrativa de pasión, carisma y determinación que continúa inspirando a aquellos que sueñan con alcanzar las alturas del baloncesto y dejar una marca indeleble en sus comunidades.</p>
        </div>
        
    </section>
    </div>

   

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>