<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Tienda Phoskito Street</title>
</head>
<body>
    
    <header>
        <img src="../img/escudoOG.png" alt="">
    </header>

    <nav>
        <a href="../index.html">Inicio</a>
        <a href="historia.html">Historia</a>
        <div class="inside"><a href="tienda.html">Tienda</a></div>
        <a href="iceberg.html">Iceberg</a>
    </nav>

    <!--tienda-->
    <div class="grid-tienda">
        <div class="caja2">
            <img src="../img/conjunto.jpg" alt="Adri Crush" width="768" height="576">
            <h3>Chandal Phoskito Street</h3>
            <button><h2>Comprar</h2></button>
        </div>
        <div class="caja2">
            <img src="../img/equipacion.jpg" alt="Ciscorro" width="1000" height="900">
            <h3>Equipacion Phoskito Street</h3>
            <button><h2>Comprar</h2></button>
        </div>
        <div class="caja2">
            <img src="../img/sudadera.jpg" alt="Gorkisio" width="1920" height="1920">
            <h3>Sudadera Phoskito Street</h3>
            <button><h2>Comprar</h2></button>
        </div>
        <div class="caja2">
            <img src="../img/gorra.jpg" alt="Juakinsito" width="980" height="980">
            <h3>Gorra Phoskito Street</h3>
            <button><h2>Comprar</h2></button>
        </div>
            
        </div>
        
    </div>

    <footer>
        <p>&copy; Phoskitos Street 2024 - Todos los derechos reservados</p>
    </footer>
</body>
</html>